.modal-bbp {
    position: absolute;
    width: auto;
    min-width: 320px;
    height: auto;
    background-color: #62AB37;
    /*left: 40%;
    top: 20%;*/
    border-radius: 3px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes
    transform: translate(-50%, -50%);
    */
}

.button-standard {
    border: 3px solid white;
    background-color: #62AB37;
    color: white;
    text-shadow: 0 0px 0 #fff;
    border-radius: 25px!important;
    margin-top: -7px;
    margin-left: -5px!important;
    width: auto!important;
    margin-bottom: 5px!important;
}

.no-padding-right {
    padding-right: 0px;
}

.title {
    width: 100%;
    text-align: center;
}

.padding-min {
    padding: 10px;
}

.margin-top-min {
    margin-top: 10px;
}

.left-text {
    text-align: left;
}

.rigth-text {
    text-align: right:
}

.center-text {
    text-align: center;
}

.arrow-l {
    margin-right: 10px;
}

.arrow-r {
    margin-left: 10px;
}

.image-gal {
    border: 1px solid white;
}

.hours-disp {
    margin-bottom: 10px;
    min-width: 675px;
}

.title-sport {
    margin-left: 11px;
}
