/*top menu*/

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.main-home {
    position: absolute;
    */ height: 100vh;
    width: 100%;
}

.video {
    position: relative;
    height: 100vh;
    width: 100%;
}

@font-face {
    font-family: Gidole;
    src: url('/assets/Gidole-Regular.ttf') format('truetype');
}

body {
    font-family: Gidole!important;
}

.elemento1 {
    font-family: Gidole!important;
}

.title-home {
    margin-top: 180px!important;
}

#intro {
    background-color: rgba(60, 118, 61, 0.62);
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 5;
}

.home {
    border: 0px solid white!important;
    border-radius: 25px!important;
    width: 245px!important;
    font-weight: 400!important;
    font-size: 18px!important;
    height: 50px!important;
}

#map-canvas {
    position: absolute;
}

.color-transparent {
    background-color: rgba(255, 255, 255, 0.82)!important;
}

#top-menu {
    height: 46px;
}

#edit-user {
    width: 50%;
}

#new-user {
    width: 90%;
}

#edit-user-bottom {
    width: 50%;
}

.edit-user {
    border: 1px solid #dce0e0;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 #dce0e0;
    padding: 20px;
    margin-top: 10px;
}

.float {
    float: left;
}

.size-input {
    width: 52%;
    margin: 0px;
}

.size-input-hour {
    width: 40%;
    border-radius: 20px;
}

.size-label {
    width: 28%;
    text-align: right;
    margin-right: 9px;
}

.size-label-hour {
    width: 40%;
    text-align: right;
    margin-right: 5px;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}


/*top menu*/

span.img1:hover img {
    opacity: 0.3;
}

.hidden {
    display: none;
}

.top-menu {
    height: 51px;
}

.mapa {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.main {
    max-width: 400px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.home-page {
    width: 60%;
    height: 88vh;
}

.register-page {
    width: 30%;
}

.flex {
    display: flex;
    align-items: center;
}

.center-box {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.full-width {
    width: 100%!important;
}

.google-color {
    color: #fff;
    background-color: #62AB37;
    border-color: #62AB37;
}

.image-home {
    border-radius: 13px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    margin: 5px!important;
}

.finder {
    border: 1px solid #dce0e0;
    border-radius: 0px;
    width: 100%;
    margin-top: 15px;
    box-shadow: 0 1px 3px 0 #dce0e0;
}

.finder-inbox {
    text-align: left;
    margin-top: 5px;
    width: 25%;
}

.inbox {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: rgba(181, 239, 79, 0);
    background-image: none;
    border: 1px solid rgba(181, 239, 79, 0);
    border-radius: 0px;
    padding: 0px!important;
}

.color-strong {
    font-weight: 700;
    color: white;
}

.index-page {
    margin-top: -10px;
}

.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

.item-club {
    border: 0px solid #dce0e0;
    width: 100%;
    margin-top: 15px;
    box-shadow: 0 5px 15px 0 #dce0e0;
    height: 100px;
}

.button-hour {
    border: 1px solid transparent;
    width: 55px;
}

.info-find {
    margin-left: 7px;
}

.filter-left-bar {
    margin-top: 10px;
}

#leftBar {
    height: 85vh;
}

#center-bar {
    /*height: 73vh;*/
    width: 100%;
}

#google-maps {
    height: 85vh;
    padding: 0px;
}

.court-label-l {
    width: 50%;
    text-align: right;
    margin-right: 5px;
    padding: 5px;
}

.court-text-l {
    width: 45%;
}

.court-label-r {
    width: 30%;
    text-align: right;
    margin-right: 5px;
    padding: 5px;
}

.court-text-r {
    width: 60%;
}

.no-padding {
    padding: 0px;
}

.li-full-w {
    width: 100%;
}

#map-container {
    height: 100%;
    width: 100%;
}

#map-canvas {
    height: 100vh;
    width: 100%;
}

#top-bar {
    height: 4vh;
    width: 100%;
}

.Content {
    height: 87vh;
    overflow: auto;
}

.modal-club {
    border-radius: 7px;
    padding: 10px 40px 40px;
}

#modal-footer {
    text-align: center;
}

#left-bar {
    position: fixed;
    top: 65%;
    padding-left: 30px;
}

.color {
    background-color: #62AB37;
}

.padding-l-r {
    padding-left: 5px;
    padding-right: 5px;
}

.day {
    border: 1px solid #f9f9f9;
    background: #3498db;
}

.where {
    height: 100%;
    background-color: white;
    color: #62AB37;
    font-weight: bold!important;
    font-size: 18px!important;
    line-height: 2.8em;
    font-family: Gidole;
    width: 250px;
}

.current-user {
    position: absolute;
    border-radius: 26px;
    width: auto;
    height: 59px;
    padding: 20px;
    background-color: #62AB37;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 20px;
}

#where {
    background-color: #62AB37;
    font-family: Gidole!important;
    border: 1px solid #62AB37;
    color: #ffffff!important;
}

#where::-webkit-input-placeholder {
    color: #0085c0;
}

#where:-moz-placeholder {
    color: #0085c0;
}

#where::-moz-placeholder {
    color: #0085c0;
}

#where:-ms-input-placeholder {
    color: #0085c0;
}

.user-view-reservations {
    top: 67px;
}

.user-close-sesion {
    top: 135px;
    background-color: #b33939;
}
