<div id="map-container">
  <div id="map-canvas">
  </div>
<!-- modal login inicio-->
  <div id="modal-register" class="hidden">
    <div class="row">
        <div class="title col-xs-12 col-sm-12 col-md-12">
        <%= render "devise/shared/login" %>
      </div>
    </div>
  </div>
<!-- modal login final-->
<!-- modal register inicio-->
  <div id="modal-register" class="modal-bbp hidden">
    <div class="container flex col-xs-12 col-sm-12 col-md-12">
        <%= render "devise/shared/newUser" %>
    </div>
  </div>
<!-- modal register final-->
<!-- modal register inicio-->
  <div id="modal-new-club" class="modal-bbp">
    <div class="container flex col-xs-12 col-sm-12 col-md-12">
        <%= render "clubs/shared/newClub" %>
    </div>
  </div>
<!-- modal register final-->
    <div id="menu">
    <nav class="menu">
      <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>


      <label class="menu-open-button principal" for="menu-open">
        <span class="hamburger hamburger-1"></span>
        <span class="hamburger hamburger-2"></span>
        <span class="hamburger hamburger-3"></span>
        <span class="hamburger hamburger-4"></span>

      </label>

      <div class="menu-item" href="#" >
        <a id="acceder" href="#" class="menu-item flex label-menu-user" >
          <span class="full-width">Acceder</span>
        </a>
      </div>
      <div class="menu-item" href="#" >
        <a id="register" href="#" class="menu-item flex label-menu-user" >
          <span class="full-width">Registrarse</span>
        </a>
      </div>
      <div class="menu-item" href="#" >
        <a  href="#" class="menu-item flex label-menu-user" >
          <span class="full-width">Nuevo Club</span>
        </a>
      </div>
      <div class="menu-item" href="#" >
        <a  href="#" class="menu-item flex label-menu-user" >
          <span class="full-width">Cerrar sesión</span>
        </a>
      </div>




    </nav>
  </div>

</div>
