<div id="home-page" class="container flex home-page home">
  <div class="center-box top-main">
    <h1><span>Quieres hacer deporte y</span><span class="color-red"> necesitas una pista?</span></h1>
    <div class="center-box">
      <span class="img1">
        <Img title="Padel" class="image-home" src="/assets/padel.png" width="200" height="200"/>
      </span>
      <span class="img1">
        <Img class="image-home" src="/assets/golf.jpg" width="200" height="200"/>
      </span>
      <span class="img1">
        <Img class="image-home" src="/assets/futbol.jpg" width="200" height="200"/>
        </span>
    </div>
        <div id="finder" class="container flex finder color-transparent">
          <div class="finder-inbox">
            <label htmlFor="inputSport">Deporte</label>
            <input type="text" placeholder="A que quieres jugar...." class="inbox" id="inputUsernameEmail"></input>
          </div>
          <div class="finder-inbox">
            <label htmlFor="inputWhere">Donde</label>
            <input type="text" placeholder="Club, Población, ....." class="inbox" id="inputUsernameEmail"></input>
          </div>
          <div class="finder-inbox">
            <label htmlFor="inputWhen">Cuándo</label>
            <input type="text" placeholder="Elije el día..." class="inbox" id="inputUsernameEmail"></input>
          </div>
          <div class="finder-inbox vaaa">
            <button class="btn btn-lg btn-info btn-block full-width google-color" href="#">Buscar</button>
          </div>
        </div>
  </div>
</div>
